<div class="static-wrapper contactusPage">
	<div class="halfLayoutContainer">
		<div class="left-half">
			<div class="left-half-inner">
				<div class="section-header">
				  <div class="row page-titles">
				    <div class="col-md-12 align-self-center">
				      <h4 class="">FAQ</h4>
				  		<p>Tell us about any tax or tech issues you’re experiencing and<br /> is there something you want to see on EasyTaxin? Let us know!</p>
				    </div>
				  </div>
				</div>
				<div class="section-body">
					<div class="row">
						<div class="col-12">
							<div class="faqAccordion accordion" id="faqAccordion">
							  <div class="">
							    <div class="accordion-header">
							      <h2 class="mb-0">
							        <a href="javascript:void(0);" class="" type="button" data-toggle="collapse" data-target="#faq-1" aria-expanded="true" aria-controls="faq-1">
							          What is EasyTaxin?
							        </a>
							      </h2>
							    </div>
							    <div id="faq-1" class="accordion-body collapse show" data-parent="#faqAccordion">
							      <div class="">
							        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
							      </div>
							    </div>
							  </div>
							  <div class="">
							    <div class="accordion-header">
							      <h2 class="mb-0">
							        <a href="javascript:void(0);" class=" collapsed" type="button" data-toggle="collapse" data-target="#faq-2" aria-expanded="false" aria-controls="faq-2">
							          How to fill tax on EasyTaxin?
							        </a>
							      </h2>
							    </div>
							    <div id="faq-2" class="accordion-body collapse" data-parent="#faqAccordion">
							      <div class="">
							        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
							      </div>
							    </div>
							  </div>
							  <div class="">
							    <div class="accordion-header">
							      <h2 class="mb-0">
							        <a href="javascript:void(0);" class=" collapsed" type="button" data-toggle="collapse" data-target="#faq-3" aria-expanded="false" aria-controls="faq-3">
							          How to fill tax on EasyTaxin?Is it secure to fill all my details on EasyTaxin?
							        </a>
							      </h2>
							    </div>
							    <div id="faq-3" class="accordion-body collapse" data-parent="#faqAccordion">
							      <div class="">
							        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
							      </div>
							    </div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="right-half position-relative">
			<div class="banner position-absolute" style="background-image:url('/assets/img/contact-us-bg.jpg')"></div>
		</div>
	</div>

</div>