<div class="static-wrapper faqPage">
	<div class="halfLayoutContainer">
		<div class="left-half">
			<div class="section-header">
			  <div class="row page-titles">
			    <div class="col-md-12 align-self-center">
			      <h4 class="">FAQ</h4>
			    </div>
			  </div>
			</div>
			<div class="section-body">
				<div class="row">
					<div class="col-12">
						<div class="faqAccordion accordion" id="faqAccordion">
						  <div class="panel">
						    <div class="accordion-header position-relative">
						      <h2 class="mb-0" data-toggle="collapse" data-target="#faq-1" aria-expanded="true" aria-controls="faq-1">
						        <a href="javascript:void(0);" class="d-block">
						          What is an income tax return?
						          <i class="icon fas fa-angle-up position-absolute"></i>
						        </a>
						      </h2>
						    </div>
						    <div id="faq-1" class="accordion-body collapse show" data-parent="#faqAccordion">
						    	<p>An income tax return is a form through which you need to declare various details pertaining to the income earned by you. The details will also include any deductions or exemptions you wish to claim, the amount of tax deducted at source (TDS) etc. The form provides for calculation of the total tax payable by you. If the tax payable by you is already deducted at source, you do not need to pay anything extra. However, if the tax deducted is lower, you need to pay the difference before filing your tax return. You can also claim a refund if the tax deducted at source is higher than the total tax payable. Please note that there are seven types of tax return forms (ITR 1 to ITR 7). Only one type of form is applicable to you depending upon the level and type of income, your residential status etc. </p>
						    </div>
						  </div>
						  <div class="panel">
						    <div class="accordion-header position-relative">
						      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#faq-2" aria-expanded="false" aria-controls="faq-2">
						        <a href="javascript:void(0);" class="d-block">
						          Why do I have to file my income tax return?
						          <i class="icon fas fa-angle-up position-absolute"></i>
						        </a>
						      </h2>
						    </div>
						    <div id="faq-2" class="accordion-body collapse" data-parent="#faqAccordion">
						    	<p>
										You need to file your tax return if your income during a particular year exceeds the maximum amount not chargeable to tax. For the financial year 2018-19, the maximum amount not chargeable to tax is Rs. 250,000. This means that if your income is more than Rs. 250,000 in financial year 2018-19, you are required to file your tax return in India for that financial year. Even if your income is below the limit of Rs. 250,000, you may still like to file your tax return for the following reasons:
									</p>
									<ul>
										<li>Excess tax is deducted at source (TDS) and you need to claim that as a refund</li>
										<li>You wish to apply for a loan</li>
										<li>You need a mediclaim or an insurance policy</li>
										<li>You wish to travel outside India</li>
									</ul>
								</div>
						  </div>
						  <div class="panel">
						    <div class="accordion-header position-relative">
						      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#faq-3" aria-expanded="false" aria-controls="faq-3">
						        <a href="javascript:void(0);" class="d-block">
											By when do I need to file my income tax return?
						          <i class="icon fas fa-angle-up position-absolute"></i>
						        </a>
						      </h2>
						    </div>
						    <div id="faq-3" class="accordion-body collapse" data-parent="#faqAccordion">
						    	<p>
										You need to file your income tax return by 31 July after the end of the financial year to which the income offered to tax relates. This means the income tax return for the income earned during the period 1 April 2018 to 31 March 2019 have to be filed by 31 July 2019 (unless the government extends this time limit).
									</p>
						    </div>
						  </div>
						  <div class="panel">
						    <div class="accordion-header position-relative">
						      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#faq-4" aria-expanded="false" aria-controls="faq-4">
						        <a href="javascript:void(0);" class="d-block">
											How do I file my income-tax return?
						          <i class="icon fas fa-angle-up position-absolute"></i>
						        </a>
						      </h2>
						    </div>
						    <div id="faq-4" class="accordion-body collapse" data-parent="#faqAccordion">
						    	<p>You need to file your income tax return electronically into the portal of the <a href="https://www.incometaxindiaefiling.gov.in/home" target="_blank" >income tax department</a>. You can also file your tax return through us on Easytaxin. This will ensure that tax expert is assisting you in filing your tax return. With us, you do not have to worry about choosing a wrong form or filling the lengthy tax return forms. This will be done by our experts.</p>
						    </div>
						  </div>
						  <div class="panel">
						    <div class="accordion-header position-relative">
						      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#faq-5" aria-expanded="false" aria-controls="faq-5">
						        <a href="javascript:void(0);" class="d-block">
											What documents do I need to file my income tax return?
						          <i class="icon fas fa-angle-up position-absolute"></i>
						        </a>
						      </h2>
						    </div>
						    <div id="faq-5" class="accordion-body collapse" data-parent="#faqAccordion">
						    	<p>
										Generally, there are no documents required to be attached to file your tax returns. However, the data that needs to be filled in your tax returns come from various documents like your Form 16, bank statements, PPF account, PAN card, Aadhaar card, donation receipts, rental receipts, principal and interest payment certificate issued by banks from where you have taken housing loan etc. At Easytaxin we have made all this very easy. You just need to login to our website and answer a few questions for us to prepare your tax return. In case there is anything missing, you do not have to worry as we will ask you the right questions.
									</p>
						    </div>
							</div>
							<div class="panel">
								<div class="accordion-header position-relative">
									<h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#faq-6" aria-expanded="false" aria-controls="faq-5">
										<a href="javascript:void(0);" class="d-block">
											Can I file last three years tax returns together as I need to apply for a loan?
											<i class="icon fas fa-angle-up position-absolute"></i>
										</a>
									</h2>
								</div>
								<div id="faq-6" class="accordion-body collapse" data-parent="#faqAccordion">
									<p>
										With the changes made to the tax law this is no longer possible. A late tax return can be filed only within one year from the end of the financial year. This means a tax return for financial year 2017-18 could have been filed only by 31 March 2019. We therefore suggest that you file your tax return and continue filing it even if your income is less than Rs. 250,000.
									</p>
								</div>
							</div>
							<div class="panel">
								<div class="accordion-header position-relative">
									<h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#faq-7" aria-expanded="false" aria-controls="faq-5">
										<a href="javascript:void(0);" class="d-block">
											What is a Financial Year for the purpose of income tax? What is Previous Year and What is Assessment Year?
											<i class="icon fas fa-angle-up position-absolute"></i>
										</a>
									</h2>
								</div>
								<div id="faq-7" class="accordion-body collapse" data-parent="#faqAccordion">
									<p>
										The Income-tax Act, 1961, uses the terms Assessment Year and Previous Year. A lot of people tend to get confused by these terms. This is because an Assessment Year means a period of twelve months commencing on 1st April every year. A Previous Year means a financial year immediately preceding the Assessment Year. While it is suggested that the Government changes the law to simply these terms, the easy way to remember is this: A Previous Year is nothing but the financial year beginning 1 April and ending on 31 March. So whenever you hear the term Assessment Year 2019-20, in simple terms, it is financial year 2018-19. This means that for the income earned by you during the period 1 April 2018 to 31 March 2019 (i.e. Previous Year 2018-19 or financial year 2018-19), you need to file an income tax return pertaining to Assessment Year 2018-19.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="right-half position-relative">
			<div class="banner position-absolute" style="background-image:url('/assets/img/faq-bg.jpg')"></div>
		</div>
	</div>

</div>