<div class="static-wrapper faqPage">
	<div class="halfLayoutContainer">
		<div class="left-half">
			<div class="section-header">
			  <div class="row page-titles">
			    <div class="col-md-12 align-self-center">
			      <h4 class="">FAQ</h4>
			    </div>
			  </div>
			</div>
			<div class="section-body">
				<div class="row">
					<div class="col-12">
						<div class="faqAccordion accordion" id="faqAccordion">
						  <div class="panel">
						    <div class="accordion-header position-relative">
						      <h2 class="mb-0" data-toggle="collapse" data-target="#faq-1" aria-expanded="true" aria-controls="faq-1">
						        <a href="javascript:void(0);" class="d-block">
						          What is EasyTaxin?
						          <i class="icon fas fa-angle-up position-absolute"></i>
						        </a>
						      </h2>
						    </div>
						    <div id="faq-1" class="accordion-body collapse show" data-parent="#faqAccordion">
						    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
						    </div>
						  </div>
						  <div class="panel">
						    <div class="accordion-header position-relative">
						      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#faq-2" aria-expanded="false" aria-controls="faq-2">
						        <a href="javascript:void(0);" class="d-block">
						          How to fill tax on EasyTaxin?
						          <i class="icon fas fa-angle-up position-absolute"></i>
						        </a>
						      </h2>
						    </div>
						    <div id="faq-2" class="accordion-body collapse" data-parent="#faqAccordion">
						    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
						    </div>
						  </div>
						  <div class="panel">
						    <div class="accordion-header position-relative">
						      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#faq-3" aria-expanded="false" aria-controls="faq-3">
						        <a href="javascript:void(0);" class="d-block">
						        	Is it secure to fill all my details on EasyTaxin?
						          <i class="icon fas fa-angle-up position-absolute"></i>
						        </a>
						      </h2>
						    </div>
						    <div id="faq-3" class="accordion-body collapse" data-parent="#faqAccordion">
						    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
						    </div>
						  </div>
						  <div class="panel">
						    <div class="accordion-header position-relative">
						      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#faq-4" aria-expanded="false" aria-controls="faq-4">
						        <a href="javascript:void(0);" class="d-block">
						        	What are the benefits of filing returns on EasyTaxin?
						          <i class="icon fas fa-angle-up position-absolute"></i>
						        </a>
						      </h2>
						    </div>
						    <div id="faq-4" class="accordion-body collapse" data-parent="#faqAccordion">
						    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
						    </div>
						  </div>
						  <div class="panel">
						    <div class="accordion-header position-relative">
						      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#faq-5" aria-expanded="false" aria-controls="faq-5">
						        <a href="javascript:void(0);" class="d-block">
						        	What is the tax slab for Financial Year 2018-19?
						          <i class="icon fas fa-angle-up position-absolute"></i>
						        </a>
						      </h2>
						    </div>
						    <div id="faq-5" class="accordion-body collapse" data-parent="#faqAccordion">
						    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="right-half position-relative">
			<div class="banner position-absolute" style="background-image:url('/assets/img/faq-bg.jpg')"></div>
		</div>
	</div>

</div>