<div class="main-container">
  <app-mainmenus></app-mainmenus>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="section-header">
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h4 class="">Deductions</h4>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body wizard-content">
                <form class="tab-wizard wizard-circle wizard clearfix">
                  <div class="steps clearfix">
                    <ul class="nav " role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="deductions-section-80-tab" href="#deductions-section-80" data-toggle="tab" role="tab">
                          Section 80
                          <span class="step-icon-wrap info">
                            <span class="step-icon">
                              <svg viewBox="0 -63 512 512" width="24px" height="24px" xmlns="http://www.w3.org/2000/svg">
                                <path d="m497 0h-482c-8.285156 0-15 6.714844-15 15v356.539062c0 8.285157 6.714844 15 15 15h482c8.285156 0 15-6.714843 15-15v-356.539062c0-8.285156-6.714844-15-15-15zm-291.019531 356.539062h-115.917969v-51.476562c0-31.957031 26-57.957031 57.960938-57.957031 31.957031 0 57.957031 26 57.957031 57.957031zm-91.917969-173.253906c0-18.648437 15.234375-33.820312 33.957031-33.820312 18.726563 0 33.960938 15.171875 33.960938 33.820312 0 18.648438-15.234375 33.820313-33.960938 33.820313-18.722656 0-33.957031-15.171875-33.957031-33.820313zm367.9375 173.253906h-246.019531v-51.476562c0-32.316406-17.519531-60.613281-43.5625-75.902344 12.046875-11.613281 19.5625-27.882812 19.5625-45.875 0-35.191406-28.691407-63.820312-63.960938-63.820312-35.265625 0-63.960937 28.628906-63.960937 63.820312 0 17.992188 7.515625 34.261719 19.5625 45.875-26.039063 15.289063-43.5625 43.585938-43.5625 75.902344v51.476562h-30.058594v-262.742187h452zm0-292.742187h-452v-33.796875h452zm0 0"/>
                                <path d="m289.421875 153.046875h148.332031c8.28125 0 15-6.71875 15-15 0-8.285156-6.71875-15-15-15h-148.332031c-8.28125 0-15 6.714844-15 15 0 8.28125 6.71875 15 15 15zm0 0"/>
                                <path d="m289.421875 212.296875h148.332031c8.28125 0 15-6.71875 15-15 0-8.285156-6.71875-15-15-15h-148.332031c-8.28125 0-15 6.714844-15 15 0 8.28125 6.71875 15 15 15zm0 0"/>
                                <path d="m289.421875 271.542969h148.332031c8.28125 0 15-6.714844 15-15 0-8.28125-6.71875-15-15-15h-148.332031c-8.28125 0-15 6.71875-15 15 0 8.285156 6.71875 15 15 15zm0 0"/>
                                <path d="m289.421875 330.792969h148.332031c8.28125 0 15-6.714844 15-15 0-8.285157-6.71875-15-15-15h-148.332031c-8.28125 0-15 6.714843-15 15 0 8.285156 6.71875 15 15 15zm0 0"/>
                              </svg>
                            </span>
                          </span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " id="deductions-more-deductions-tab" href="#deductions-more-deductions" data-toggle="tab" role="tab">
                          More Deductions
                          <span class="step-icon-wrap address">
                            <span class="step-icon">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" x="0px" y="0px"
                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                  <path d="M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148
                                    C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962
                                    c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216
                                    h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40
                                    c59.551,0,108,48.448,108,108S315.551,256,256,256z"/>
                                </g>
                              </svg>
                            </span>
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-content tab-wizard-content">
                    <div class="tab-pane fade active show" id="deductions-section-80" role="tabpanel">
                      <ul class="nav nav-tabs" id="" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="deductions-section-80-upload-tab" data-toggle="tab" href="#deductions-section-80-upload" role="tab"aria-selected="true">Upload</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80c-tab" data-toggle="tab" href="#deductions-section-80c" role="tab" aria-selected="false">Section 80C</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80d-tab" data-toggle="tab" href="#deductions-section-80d" role="tab" aria-selected="false">Section 80D</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80tta-tab" data-toggle="tab" href="#deductions-section-80tta" role="tab" aria-selected="false">Section 80TTA</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80g-tab" data-toggle="tab" href="#deductions-section-80g" role="tab" aria-selected="false">Section 80G</a>
                        </li>
                      </ul>
                      <div class="tab-content" id="">
                        <div class="tab-pane fade show active" id="deductions-section-80-upload" role="tabpanel">
                          xxx
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80c" role="tabpanel">
                          xxx
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80d" role="tabpanel">
                          xxx
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80tta" role="tabpanel">
                          xxx
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80g" role="tabpanel">
                          xxx
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="deductions-more-deductions" role="tabpanel">
                      <ul class="nav nav-tabs" id="" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="deductions-section-80-upload-tab" data-toggle="tab" href="#deductions-section-80ccg" role="tab" aria-selected="true">Section 80CCG</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80e-tab" data-toggle="tab" href="#deductions-section-80e" role="tab" aria-selected="false">Section 80E</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80ccc-tab" data-toggle="tab" href="#deductions-section-80ccc" role="tab" aria-selected="false">Section 80CCC</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80ccd-tab" data-toggle="tab" href="#deductions-section-80ccd" role="tab" aria-selected="false">Section 80CCD (1), (1B) and (2)</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80gg-tab" data-toggle="tab" href="#deductions-section-80gg" role="tab" aria-selected="false">Section 80GG</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80ddb-tab" data-toggle="tab" href="#deductions-section-80ddb" role="tab" aria-selected="false">Section 80DDB</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80ee-tab" data-toggle="tab" href="#deductions-section-80ee" role="tab" aria-selected="false">Section 80EE</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80qqb-tab" data-toggle="tab" href="#deductions-section-80qqb" role="tab" aria-selected="false">Section 80QQB</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80rrb-tab" data-toggle="tab" href="#deductions-section-80rrb" role="tab" aria-selected="false">Section 80RRB</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80gga-tab" data-toggle="tab" href="#deductions-section-80gga" role="tab" aria-selected="false">Section 80GGA</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80ggc-tab" data-toggle="tab" href="#deductions-section-80ggc" role="tab" aria-selected="false">Section 80GGC</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80u-tab" data-toggle="tab" href="#deductions-section-80u" role="tab" aria-selected="false">Section 80U</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="deductions-section-80dd-tab" data-toggle="tab" href="#deductions-section-80dd" role="tab" aria-selected="false">Section 80DD</a>
                        </li>
                      </ul>
                      <div class="tab-content" id="">
                        <div class="tab-pane fade show active" id="deductions-section-80-upload" role="tabpanel">
                          80-upload
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80e" role="tabpanel">
                          80e
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80ccc" role="tabpanel">
                          80ccc
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80ccd" role="tabpanel">
                          80ccd
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80gg" role="tabpanel">
                          80gg
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80ddb" role="tabpanel">
                          80ddb
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80ee" role="tabpanel">
                          80ee
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80qqb" role="tabpanel">
                          80qqb
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80rrb" role="tabpanel">
                          80rrb
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80gga" role="tabpanel">
                          80gga
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80ggc" role="tabpanel">
                          80ggc
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80u" role="tabpanel">
                          80u
                        </div>
                        <div class="tab-pane fade" id="deductions-section-80dd" role="tabpanel">
                          80dd
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions d-flex">
                    <div class="left mr-auto">
                      <button type="button" class="btn btn-secondary btn-lg" disabled="">Reset</button>
                    </div>
                    <div class="right ml-auto">
                      <button type="button" class="btn btn-secondary btn-lg"><i class="fas fa-arrow-left"></i> Previous</button>
                      <button type="button" class="btn btn-primary btn-lg">Skip <i class="fas fa-arrow-right"></i></button>
                      <button type="button" class="btn btn-primary btn-lg">Next <i class="fas fa-arrow-right"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
