<header class="header w-100">
  <nav class="navbar top-navbar navbar-expand-md">
    <div class="navbar-header d-flex align-items-center">
      <div class="nav-item">
        <a class="nav-link mainMenutoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)">
          <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" x="0px" y="0px"
             viewBox="0 0 60.123 60.123" xml:space="preserve">
          <g>
            <path d="M57.124,51.893H16.92c-1.657,0-3-1.343-3-3s1.343-3,3-3h40.203c1.657,0,3,1.343,3,3S58.781,51.893,57.124,51.893z"/>
            <path d="M57.124,33.062H16.92c-1.657,0-3-1.343-3-3s1.343-3,3-3h40.203c1.657,0,3,1.343,3,3
              C60.124,31.719,58.781,33.062,57.124,33.062z"/>
            <path d="M57.124,14.231H16.92c-1.657,0-3-1.343-3-3s1.343-3,3-3h40.203c1.657,0,3,1.343,3,3S58.781,14.231,57.124,14.231z"/>
            <circle cx="4.029" cy="11.463" r="4.029"/>
            <circle cx="4.029" cy="30.062" r="4.029"/>
            <circle cx="4.029" cy="48.661" r="4.029"/>
          </g>
          </svg>
        </a>
      </div>
      <a class="navbar-brand" routerLink="/home">
        <span>
          <img src="/assets/img/easytax-logo-text.png" alt="easytax logo">
        </span>
      </a>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <span class="pageName">
            <!--- Tax Filing 2018-19-->
          </span>
        </li>
      </ul>
      <ul class="navbar-nav my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="support.html">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item dropdown u-pro" *ngIf="currentUser">
          <a class="user-dropdown dropdown-toggle waves-effect profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/assets/img/1.jpg" alt="user" class="">
            <!-- <span class="hidden-md-down"><i class="fa fa-angle-down"></i></span> -->
          </a>
          <div class="dropdown-menu dropdown-menu-right animated flipInY ">
            <a href="javascript:void(0)" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
            <a (click)="goDashboard()" class="dropdown-item"><i class="ti-wallet"></i> My Dashboard</a>
            <a href="javascript:void(0)" class="dropdown-item"><i class="ti-email"></i> Notifications</a>
            <a href="javascript:void(0)" class="dropdown-item"><i class="ti-settings"></i> Change Password</a>
            <a (click)="logout()" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>