<div class="page-wrapper">
  <div class="login-register">
    <div class="login-box card">
      <div class="card-body" *ngIf="!invalidRequest">
          <form class="form-horizontal form-material" id="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <h3 class="form-title text-center m-b-20">Reset Your Password</h3>
            <div class="form-group floating-label">
              <input type="password" class="form-control" id="nPassword" formControlName="nPassword" [ngClass]="{ 'is-invalid': submitted && f.nPassword.errors }">
              <div *ngIf="submitted && f.nPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.nPassword.errors.required">Password is required</div>
                  <!--<div *ngIf="f.nPassword.errors.minlength">Password must be at least 8 characters</div>-->
                  <div *ngIf="f.nPassword.errors.pattern">Password must be at least 8 characters with 1 numeric, uppercase and special character</div>
              </div>
              <label for="">New Password</label>
            </div>
            <div class="form-group floating-label">
              <input type="password" class="form-control" id="cPassword" formControlName="cPassword" [ngClass]="{ 'is-invalid': submitted && f.cPassword.errors }">
              <div *ngIf="submitted && f.cPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.cPassword.errors.required">Re-Enter your password</div>
                  <div *ngIf="f.cPassword.errors.notEquivalent">Passwords did not match</div>
              </div>
              <label for="">Confirm Password</label>
            </div>
            <div class="form-actions mt-5">
              <button class="btn btn-primary btn-block btn-lg" type="submit">Submit</button>
            </div>
        </form>
      </div>
      <div class="card-body" *ngIf="invalidRequest">
        <div>{{invalidMessage}}</div>
      </div>
    </div>
  </div>
</div>