@media (min-width: 576px) {
	.form-group{margin-bottom:30px; }

}

@media (min-width: 768px) {

	/* Page Title */
	.page-titles{padding-top:30px; padding-bottom:30px;}
	.page-titles h4{font-size:30px; }
	.page-titles h4 small{font-size:18px;}
	.page-titles .col-right .customDropdown{margin-top:-16px;}

}
@media (min-width: 900px) {
	.left-sidebar{width:250px;}
	.main-container{padding-left:250px;}
	.page-wrapper{padding-left:60px; padding-right:60px; padding-bottom:60px;}
	.sidebar-nav{padding-top:30px;}
	.stickyFooterForm.affix{left:250px; padding-left:75px; padding-right:75px;}
	#footer.footer-inside{padding-left:262px;}
	.left-sidebar .sidebartoggler{display:block;}


}

@media (min-width: 992px) {
	/* Home Page */
	.homepage .featuresList figure{padding:0 35px;}

}

@media (min-width: 1200px) {

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
}


@media (min-width: 800px) {
}
@media (max-width: 800px) {

}
@media (max-width: 899px) {
	#header .top-navbar .navbar-nav > .nav-item > .nav-link{line-height:35px; color:#2e2e2c;}
	#header .top-navbar .userLoginWrap{margin-right:0;}
	.collapse:not(.show) {display:none !important; }
	.navbar{justify-content: space-between;}
	.navbar-expand-md .navbar-toggler{display:inline-block;}
	.navbar-collapse{background-color:#FFF; width:100%; box-shadow:-1px 10px 10px rgba(0,0,0,0.1);}
	.navbar.navbar-open{background-color:#FFF;}
	.navbar-collapse .navbar-nav{flex-direction:column; width:100%;}
	/* Tabs */
	.nav-tabs{overflow-x: auto; overflow-y: hidden; display: -webkit-box; display: -moz-box; flex-wrap:nowrap;}

	#header .navbar-brand::before{ top:-80px;}
	#header.no-bg .navbar-brand img{width:135px; height:24px;}
	#header.no-bg .navbar-brand::before{ width:230px; height:149px; }
	
	/* Home Page */
	.homepage .mainBanner{min-height:inherit;}
	.homepage .mainBanner .captions h3,
	.homepage .mainBanner .captions h3.md{font-size:50px;}
	.homepage .mainBanner .captions h5{font-size:24px;}
	.homepage .mainBanner .captions p{display:none;}
	.homepage .mainBanner .owl-dots{bottom:15px;}
	.homepage .mainBanner .slide-progress{height:5px;}
}

@media (max-width: 991px) {
	/* Home Page */
	.homepage .featuresList > .d-flex{flex-wrap:wrap;}
	.homepage .featuresList figure{width:50%;}
	.homepage .sectionHeader h3{font-size:26px;}
	.homepage .testimonialSection .testimonial{padding:0 80px;}
	.homepage .testimonialSection .testimonial:before,
	.homepage .testimonialSection .testimonial:after{font-size:60px; }
	
	#footer{padding:15px;}
	#footer .left img{max-width:130px;}
	
	.social li{margin:0 3px;}
	.social li a{width:35px; height:35px; font-size:18px;}

	/* Half Layout */
	.halfLayoutContainer .left-half{padding:0 25px 25px;}
	.halfLayoutContainer .left-half-inner{max-width:100%;}

}
@media (max-width: 767px) {
	#header .top-navbar .userLoginWrap .navbar-nav{flex-direction: row;}
}
@media (max-width: 700px) {
	.boxBorderHeader{padding:25px 30px;}
	.boxBorderHeader .boxBody{padding-top:0;}

	/* Dashboard */
	.dashboard .stats.col4 .stats-col{width:33.33333%;}

	/* Half Layout */

	.halfLayoutContainer {flex-wrap:wrap;}
	.halfLayoutContainer .right-half{min-height:350px; width:100%;}
	.halfLayoutContainer .left-half{padding:0 25px 25px; order:2; width:100%;}

	/* Wizard FOrm */
	.wizard-content .wizard > .steps .step-icon-wrap{width:18px; height:18px; padding:0; border:none; margin-top:5px;} 
	.wizard-content .wizard > .steps .step-icon svg{max-width:20px; display:none;}
	.wizard-content .wizard > .steps .step-icon{line-height:40px;}
	.wizard-content .wizard > .steps > ul {flex-wrap: nowrap; overflow-x: auto; padding-bottom:10px; font-size:13px; line-height:1.2;}
	.wizard-content .wizard > .steps > ul > li { max-width:90px; min-width:90px;}
	.wizard-content .wizard > .steps > ul > li a::after,
	.wizard-content .wizard > .steps > ul > li a::before {bottom:34px;}
	.wizard-content .wizard > .steps .active .step-icon-wrap::before{height:15px; bottom:-15px;}
	.wizard-content .wizard > .steps .active .step-icon-wrap::after{height:6px; width:6px; bottom:-20px;}
	.wizard-content .wizard > .steps > ul > li a::after,
	.wizard-content .wizard > .steps > ul > li a::before {bottom:18px;}




	/*Left Sidebar*/
	.left-sidebar{background-color:#FFF; bottom:0; width:100%; height:auto; padding-top:0; box-shadow:0 0 15px 0 rgba(0, 0, 0, 0.08); z-index:10;}
	.sidebar-nav > ul{display:flex; list-style:none;}
	.sidebar-nav > ul > li{margin:0;}
	.sidebar-nav > ul > li > a{padding:0; width:55px; height:55px; border-top:4px solid transparent; border-left:none;}
	.sidebar-nav > ul > li a i{display:flex; align-items:center; justify-content:center; margin:auto;}
	.sidebar-nav > ul > li.active > a{border-top-color:#f4412a;}
	.sidebar-nav > ul > li.active > a i{color:#f4412a;}
	.sidebar-nav > ul > li > a .text{display:none;}
	.main-container{padding-left:0; padding-bottom:30px;}
	#footer.footer-inside{display:none;}

}
@media (max-width: 640px) {
	/* .input-group{display:block;} */
	.custom-file-wrap .upload-btn{margin-top:10px; padding-left:0;}

	/* Home Page */
	.homepage .mainBanner .captions h3,
	.homepage .mainBanner .captions h3.md{font-size:35px;}
	.homepage .mainBanner .captions h5{font-size:18px;}
	.homepage .sectionHeader h3{font-size:22px;}
	.homepage .testimonialSection .testimonial{padding:0 65px;}
	.homepage .testimonialSection .testimonial:before,
	.homepage .testimonialSection .testimonial:after{font-size:45px; }
	.homepage .testimonialSection .testimonial .title{font-size:20px;}
	.homepage .mainBanner .captions .btn{font-size:14px; padding:8px 20px; min-width:120px;}

	.stickyFooterForm.affix{position:static;}
	.stickyFooterForm .btnLink{background-color:transparent; border-color:transparent; color:#007bff;}
	.stickyFooterForm .btn{font-size:14px; padding:6px 12px;}

	/* Login Register */
	.login-box .card-body{padding:40px 35px;}
}
@media (max-width: 600px) {

}
@media (max-width: 480px) {
	.container-fluid{padding-left:10px; padding-right:10px;}
	.page-wrapper{padding-bottom:15px;}
	.custom-file-wrap .custom-file{overflow:hidden;}

	/* Dashboard */
	.dashboard .stats.col4 .stats-col{width:50%;}
	.dashboard .stats.col4 .stats-col:nth-child(even){text-align:right;}

	/* Home Page */
	.homepage .featuresList figure{width:100%;}
	.homepage .featuresList .icon{width:90px; height:90px; }
	.homepage .featuresList .icon svg{width:40px; height:40px; }
	.homepage .pricing .priceList > .d-flex{flex-wrap:wrap;}
	.homepage .pricing .priceList li{ max-width:400px; height:auto; min-height:200px; margin-right:0; margin-left:0;}
	.homepage .pricing .priceList li:after{display:none;}
	.homepage .pricing .priceList li h2{font-size:40px;}
	.homepage .pricing .priceList li h3{font-size:20px; margin-bottom:10px;}
	.homepage .featuresList .actionRow .btn{font-size:14px; padding:8px 20px; min-width:120px;}

	/* Half Layout */
	.halfLayoutContainer .right-half{min-height:180px;}


}
@media (max-width: 420px) {
	.custom-file-wrap>.d-flex{flex-wrap:wrap; }
	.custom-file-wrap .input-group-prepend{display:none;}
	.custom-file-wrap .custom-file{margin-left:0;}
	.homepage .testimonialSection .testimonial{padding:0 50px; margin-top:0; font-size:15px;}
	.homepage .testimonialSection .testimonial:before,
	.homepage .testimonialSection .testimonial:after{font-size:35px; }
	.homepage .testimonialSection .testimonial .title{font-size:18px;}

	/* Pricing */
	.pricingPage .nav-tabs {font-size:18px;}
	.pricingPage .nav-tabs .nav-item .nav-link{padding:8px 30px;}
	.pricingPage .actionRow .btn{padding:12px 20px; }
	
	.social li a{width:30px; height:30px; font-size:14px;}
	#footer .left img{height:14px;}
}
@media (max-width: 380px) {
	#footer.footer-inside{flex-wrap:wrap;}
	#footer.footer-inside .left,
	#footer.footer-inside .right{width:100%; text-align:center;}
	#footer.footer-inside .right{margin-top:10px;}
}
