@media (min-width: 576px) {
	.form-group{margin-bottom:30px; }

}

@media (min-width: 768px) {

	/* Page Title */
	.page-titles{padding-top:30px; padding-bottom:30px;}
	.page-titles h4{font-size:30px; }
	.page-titles h4 small{font-size:18px;}
	.page-titles .col-right .customDropdown{margin-top:-16px;}
}
@media (min-width: 900px) {
	#header .navbar-brand{padding-left:35px;}

	.left-sidebar{width:250px;}
	.main-container{padding-left:250px;}
	.page-wrapper{padding-left:60px; padding-right:60px; padding-bottom:60px;}
	.sidebar-nav{padding-top:30px;}
	.stickyFooterForm.affix{left:250px; padding-left:75px; padding-right:75px;}
	#footer.footer-inside{padding-left:262px;}
	.left-sidebar .sidebartoggler{display:block;}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
}


@media (min-width: 800px) {
}
@media (max-width: 800px) {

}
@media (max-width: 899px) {
	#header .top-navbar .navbar-nav > .nav-item > .nav-link{line-height:35px; }
	.collapse:not(.show) {display:none !important; }
	.navbar{justify-content: space-between;}
	.navbar-expand-md .navbar-toggler{display:inline-block;}
	.navbar-expand-md .navbar-nav{flex-direction:column; width:100%;}
	.navbar-collapse{background-color:#FFF; position:absolute; top:66px; width:100%; box-shadow:-1px 10px 10px rgba(0,0,0,0.1);}

	/* Tabs */
	.nav-tabs{overflow-x: auto; overflow-y: hidden; display: -webkit-box; display: -moz-box; flex-wrap:nowrap;}

}

@media (max-width: 700px) {
	.wizard-content .wizard > .steps > ul {flex-wrap: nowrap; overflow-x: auto;}
	.wizard-content .wizard > .steps > ul > li { max-width:110px; min-width:100px;}
	.boxBorderHeader{padding:25px 30px;}
	.boxBorderHeader .boxBody{padding-top:0;}

	/* Dashboard */
	.dashboard .stats.col4 .stats-col{width:33.33333%;}

}
@media (max-width: 640px) {
	/* .input-group{display:block;} */
	.custom-file-wrap .upload-btn{margin-top:10px; padding-left:0;}

	.wizard-content .wizard > .steps .step-icon-wrap{width:50px; height:50px; padding:2px;}
	.wizard-content .wizard > .steps .step-icon svg{max-width:20px;}
	.wizard-content .wizard > .steps .step-icon{line-height:40px;}
	.wizard-content .wizard > .steps > ul > li a::after,
	.wizard-content .wizard > .steps > ul > li a::before {bottom:34px;}
}
@media (max-width: 480px) {
	.container-fluid{padding-left:0; padding-right:0;}
	.page-wrapper{padding-bottom:15px;}
	.custom-file-wrap .custom-file{overflow:hidden;}

	/* Dashboard */
	.dashboard .stats.col4 .stats-col{width:50%;}
	.dashboard .stats.col4 .stats-col:nth-child(even){text-align:right;}
}
@media (max-width: 420px) {
	.custom-file-wrap>.d-flex{flex-wrap:wrap; }
	.custom-file-wrap .input-group-prepend{display:none;}
	.custom-file-wrap .custom-file{margin-left:0;}
}
@media (max-width: 380px) {
	#footer.footer-inside{flex-wrap:wrap;}
	#footer.footer-inside .left,
	#footer.footer-inside .right{width:100%; text-align:center;}
	#footer.footer-inside .right{margin-top:10px;}
}
