<div class="static-wrapper pricingPage">
	<div class="halfLayoutContainer">
		<div class="left-half">
			<div class="left-half-inner fullWidth">
				<div class="section-header">
				  <div class="row page-titles">
				    <div class="col-md-12 align-self-center">
				      <h4 class="">Select a Package</h4>
				    </div>
				  </div>
				</div>
				<div class="section-body">
					<div class="row">
						<div class="col-12">
							<ul class="nav nav-tabs" id="myTab" role="tablist">
							  <li class="nav-item">
							    <a class="nav-link active" id="itr-1-tab" data-toggle="tab" href="#itr-1" role="tab" aria-controls="itr-1" aria-selected="true">ITR 1</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link" id="itr-2-tab" data-toggle="tab" href="#itr-2" role="tab" aria-controls="itr-2" aria-selected="false">ITR 2</a>
							  </li>
							</ul>
							<div class="tab-content" id="myTabContent">
							  <div class="tab-pane fade show active" id="itr-1" role="tabpanel" aria-labelledby="home-tab">
							  	<table class="table table-sm">
							  	  <tbody>
							  	    <tr>
							  	      <th scope="row">Selected Plan</th>
							  	      <td>Deluxe Plan </td>
							  	    </tr>
							  	    <tr>
							  	      <th scope="row">Validity</th>
							  	      <td>1 Year</td>
							  	    </tr>
							  	    <tr>
							  	      <th scope="row">Payment Term</th>
							  	      <td>100% Advance</td>
							  	    </tr>
							  	    <tr>
							  	      <th scope="row">User Type</th>
							  	      <td>Individual</td>
							  	    </tr>
							  	  </tbody>
							  	  <tfoot>
							  	  	<tr>
							  	  		<th>Amount</th>
							  	  		<td><i class="inr">₹</i> 12,206</td>
							  	  	</tr>
							  	  </tfoot>
							  	</table>
							  	<div class="custom-control custom-checkbox">
							  	  <input type="checkbox" class="custom-control-input" id="section80C"  name="section80C" value="section80C">
							  	  <label class="custom-control-label" for="section80C">I agree to the <a href="javascript:void(0);" title="">terms and services</a></label>
							  	</div>
							  	<div class="actionRow">
								  	<button type="button" class="btn btn-primary btn-lg">Pay</button>
							  	</div>
							  </div>
							  <div class="tab-pane fade" id="itr-2" role="tabpanel" aria-labelledby="profile-tab">
							  	  	<table class="table table-sm">
							  	  	  <tbody>
							  	  	    <tr>
							  	  	      <th scope="row">Selected Plan</th>
							  	  	      <td>Ultimate Plan </td>
							  	  	    </tr>
							  	  	    <tr>
							  	  	      <th scope="row">Validity</th>
							  	  	      <td>3 Year</td>
							  	  	    </tr>
							  	  	    <tr>
							  	  	      <th scope="row">Payment Term</th>
							  	  	      <td>100% Advance</td>
							  	  	    </tr>
							  	  	    <tr>
							  	  	      <th scope="row">User Type</th>
							  	  	      <td>Unlimited</td>
							  	  	    </tr>
							  	  	  </tbody>
							  	  	  <tfoot>
							  	  	  	<tr>
							  	  	  		<th>Amount</th>
							  	  	  		<td><i class="inr">₹</i> 30,000</td>
							  	  	  	</tr>
							  	  	  </tfoot>
							  	  	</table>
							  	  	<div class="custom-control custom-checkbox">
							  	  	  <input type="checkbox" class="custom-control-input" id="section80C"  name="section80C" value="section80C">
							  	  	  <label class="custom-control-label" for="section80C">I agree to the <a href="javascript:void(0);" title="">terms and services</a></label>
							  	  	</div>
							  	  	<div class="actionRow">
							  		  	<button type="button" class="btn btn-primary btn-lg">Pay</button>
							  	  	</div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="right-half position-relative">
			<div class="banner position-absolute" style="background-image:url('/assets/img/pricing-bg.jpg')"></div>
		</div>
	</div>

</div>