<div class="preloader" style="display: none;">
  <div class="loader">
    <div class="loaderFigure"></div>
    <p class="loaderLabel">EasyTax</p>
  </div>
</div>
<div id="main-wrapper" class="main-wrapper">
  <!--Load Header Section-->
  <app-header></app-header>
  <app-sidemenus></app-sidemenus>
  <!-- main app container -->
  <router-outlet></router-outlet>
</div>
<footer id="footer" class="footer footer-inside d-flex justify-content-between">
	<div class="left">
		<img class="footer-logo" src="/assets/img/easytax-logo-text-white.png" alt="">
	</div>
	<div class="right">All rights reserved | 2018</div>
</footer>
<div class="modal-backdrop overlay fade show" style="display:none;"></div>