<div class="preloader" style="display: none;">
  <div class="loader">
    <div class="loaderFigure"></div>
    <p class="loaderLabel">EasyTax</p>
  </div>
</div>
<div id="main-wrapper" class="main-wrapper">
  <!--Load Header Section-->
  <app-header></app-header>
  <app-sidemenus></app-sidemenus>
  <!-- main app container -->
  <router-outlet></router-outlet>
</div>
<footer id="footer" class="footer footer-inside d-flex justify-content-between">
  <div class="left">
    <img src="/assets/img/easytax-logo-text-white.png" alt="" class="footer-logo">
  </div>
	<div class="right">
      <ul class="social pl-0 m-0">
        <li>
          <a href="javascript:void(0);" title="" class="fb icon d-flex align-items-center justify-content-center"><i class="fab fa-facebook-f "></i></a>
        </li>
        <li>
          <a href="javascript:void(0);" title="" class="twt icon d-flex align-items-center justify-content-center"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="javascript:void(0);" title="" class="linkedin icon d-flex align-items-center justify-content-center"><i class="fab fa-linkedin-in"></i></a>
        </li>
      </ul>
  </div>
</footer>
<div class="modal-backdrop overlay fade show" style="display:none;"></div>