<div class="static-wrapper contactusPage">
	<div class="halfLayoutContainer">
		<div class="left-half">
			<div class="left-half-inner">
				<div class="section-header">
				  <div class="row page-titles">
				    <div class="col-md-12 align-self-center">
				      <h4 class="">Contact Us</h4>
				  		<p>Tell us about any tax or tech issues you’re experiencing and<br /> is there something you want to see on EasyTaxin? Let us know!</p>
				    </div>
				  </div>
				</div>
				<div class="section-body">
					<div class="row">
						<div class="col-12">
							<div class="form-group floating-label">
							  <input type="text" class="form-control" />
							  <label for="username">Email Id <span class="text-danger required">*</span></label>
							</div>
							<div class="form-group floating-label">
							  <input type="text" class="form-control" />
							  <label for="username">Subject <span class="text-danger required">*</span></label>
							</div>
							<div class="form-group">
                <label>Description</label>
                <textarea class="form-control allborder" rows="5" placeholder="Type your message here.."></textarea>
              </div>
              <p class="info">Please enter the details of your request. A member of our support staff will respond as soon as possible.</p>
              <div class="form-actions d-flex">
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="right-half position-relative">
			<div class="banner position-absolute" style="background-image:url('/assets/img/contact-us-bg.jpg')"></div>
		</div>
	</div>

</div>