<div class="page-wrapper">
  <div class="container-fluid">
    <div class="staticWrap termsPage">
    	<h1>Terms & Conditions</h1>

    	<h3>Accepting the Terms</h3>
    	<p>The following are terms of a legal agreement between you and EasyTaxin. By accessing, browsing,
    	creating an account and/or using this web site, you acknowledge that you have read, understood, and
    	agree, to be bound by these terms and to comply with all applicable laws and regulations. If you do not
    	agree to these terms, do not use this web site or any other products of EasyTaxin.</p>
    	<p>You may not use the Services and may not accept the Terms if (a) you are not of legal age to form a
    	binding contract with EasyTaxin, or (b) you are not a resident of India.</p>

    	<h3>Provision of the Services</h3>
    	<ul>
  	    <li>EasyTaxin is constantly innovating in order to provide the best possible experience for its users. You acknowledge and agree that the form and nature of the Services which EasyTaxin provides may change from time to time without prior notice to you.</li>
  	    <li>As part of this continuing innovation, you acknowledge and agree that EasyTaxin may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally at the sole discretion of EasyTax, without prior notice to you. You may stop using the Services at any time. You do not need to specifically inform EasyTaxin when you stop using the Services.</li>
  	    <li>You acknowledge and agree that if EasyTaxin disables access to your account, you may be prevented from accessing the Services, your account details or any files or other content which is contained in your account.</li>
  	    <li>You agree to allow us to add you as a client on the Income Tax Department web services to submit ITR, retrieve ITR-V, refund status, 26AS, etc.</li>
  	    <li>You acknowledge and agree that while EasyTaxin may not currently have set a fixed upper limit on the number of transmissions you may send or receive through the Services or on the amount of storage space used for the provision of any Service, such fixed upper limits may be set by EasyTaxin at any time, at the discretion of EasyTaxin.</li>
    	</ul>

    	<h3>Use of the Services</h3>
    	<ul>
    		<li>In order to prepare your return, to file your return, to provide advice about tax matters, and/or to provide an audit defense service, you will need to provide information about your income, deductions, credits, dependents, etc. Collectively, this information is known as tax return information. In order to use EasyTaxin Services, you will need to provide your tax return information. You agree that any information you give to EasyTaxin will always be accurate, correct and up to date.</li>
    		<li>You agree to use the Services only for purposes that are permitted by (a) the Terms and (b) any applicable law, regulation or generally accepted practices or guidelines in the relevant jurisdictions (including any laws regarding the export of data or software to and from India).</li>
    		<li>You agree not to access (or attempt to access) any of the Services by any means other than through the interface that is provided by EasyTaxin, unless you have been specifically allowed to do so in a separate agreement with EasyTaxin. You specifically agree not to access (or attempt to access) any of the Services through any automated means (including use of scripts or web crawlers) and shall ensure that you comply with the instructions set out in any robots.txt file present on the Services.</li>
    		<li>You agree that you will not engage in any activity that interferes with or disrupts the Services (or the servers and networks which are connected to the Services).</li>
    		<li>Unless you have been specifically permitted to do so in a separate agreement with EasyTaxin, you agree that you will not reproduce, duplicate, copy, sell, trade or resell the Services for any purpose.</li>
    		<li>You agree that you are solely responsible for (and that EasyTaxin has no responsibility to you or to any third party for) any breach of your obligations under the Terms and for the consequences (including any loss or damage which EasyTaxin may suffer) of any such breach. If you file tax returns for another individual, you should be doing so with the consensus of that individual after fully understanding the implications of this action. EasyTaxin will not be held responsible if you are doing this without the knowledge / consensus of that person concerned. Your passwords and account security.</li>
    		<li>You agree and understand that you are responsible for maintaining the confidentiality of passwords associated with any account you use to access the Services.</li>
    		<li>Accordingly, you agree that you will be solely responsible to EasyTaxin for all activities that occur under your account.</li>
    		<li>If you become aware of any unauthorized use of your password or of your account, you agree to notify EasyTaxin immediately.</li>
    	</ul>

    	<h3>Privacy and your personal information</h3>
    	<ul>
    		<li>For information about EasyTaxin’s data protection practices, please read EasyTax’s privacy policy at &lt;&lt;insert link&gt;&gt;. This policy explains how EasyTaxin treats your personal information, and protects your privacy, when you use the Services.</li> 
    		<li>You agree to the use of your data in accordance with EasyTaxin’s privacy policies.</li>
    	</ul>

    	<h3>Income Tax Return Correctness</h3>
    	<p>EasyTaxin takes great care in ensuring the correctness of your Income Tax Return. There are strong test suites and professionals (internal and third party) who work hard on ensuring the correctness of EasyTaxin software. However, EasyTaxin provides no guarantee or warranty on the correctness of your Income Tax Return. You are required to review your Income Tax Return for ensuring correctness. You will not hold EasyTaxin responsible for any issue that arises from incorrect Income Tax Return filing.</p>

    	<h3>EXCLUSION OF WARRANTIES</h3>
    	<ol>
  	    <li>NOTHING IN THESE TERMS, SHALL EXCLUDE OR LIMIT EASYTAXIN’S WARRANTY OR LIABILITY FOR LOSSES WHICH MAY NOT BE LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR CONDITIONS OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR LOSS OR DAMAGE CAUSED BY NEGLIGENCE, BREACH OF CONTRACT OR BREACH OF IMPLIED TERMS, OR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, ONLY THE LIMITATIONS WHICH ARE LAWFUL IN YOUR JURISDICTION WILL APPLY TO YOU AND OUR LIABILITY WILL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.</li>
  	    <li>YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK AND THAT THE SERVICES ARE PROVIDED &quot;AS IS&quot; AND “AS AVAILABLE.”</li>
  	    <li>IN PARTICULAR, EASYTAXIN, ITS SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS DO NOT REPRESENT OR WARRANT TO YOU THAT:
  	    	<ul>
	    	    <li>YOUR USE OF THE SERVICES WILL MEET YOUR REQUIREMENTS,</li>
	    	    <li>YOUR USE OF THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE OR FREE FROM ERROR,</li>
	    	    <li>ANY INFORMATION OBTAINED BY YOU AS A RESULT OF YOUR USE OF THE SERVICES WILL BE ACCURATE OR RELIABLE, AND</li>
	    	    <li>THAT DEFECTS IN THE OPERATION OR FUNCTIONALITY OF ANY SOFTWARE PROVIDED TO YOU AS PART OF THE SERVICES WILL BE CORRECTED.</li>
  	    	</ul>
  	    </li>
  	    <li>ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICES IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR OTHER DEVICE OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.</li>
  	    <li>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM EASYTAXIN OR THROUGH OR FROM THE SERVICES SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TERMS.</li>
  	    <li>EASYTAXIN FURTHER EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</li>
    	</ol>

    	<h3>LIMITATION OF LIABILITY</h3>
    	<ol>
  	    <li>SUBJECT TO OVERALL PROVISION IN PARAGRAPH ABOVE, YOU EXPRESSLY UNDERSTAND AND AGREE THAT EASYTAXIN, IT’S SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS SHALL NOT BE LIABLE TO YOU FOR:
  	    	<ul>
	    	    <li>ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL CONSEQUENTIAL OR EXEMPLARY DAMAGES WHICH MAY BE INCURRED BY YOU, HOWEVER CAUSED AND UNDER ANY THEORY OF LIABILITY. THIS SHALL INCLUDE, BUT NOT BE LIMITED TO, ANY LOSS OF PROFIT (WHETHER INCURRED DIRECTLY OR INDIRECTLY), ANY LOSS OF GOODWILL OR BUSINESS REPUTATION, ANY LOSS OF DATA SUFFERED, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR OTHER INTANGIBLE LOSS;</li>
	    	    <li>ANY LOSS OR DAMAGE WHICH MAY BE INCURRED BY YOU, INCLUDING BUT NOT LIMITED TO LOSS OR DAMAGE AS A RESULT OF:
	    	    	<ul>
    	    	    <li>ANY RELIANCE PLACED BY YOU ON THE COMPLETENESS, ACCURACY OR EXISTENCE OF ANY ADVERTISING, OR AS A RESULT OF ANY RELATIONSHIP OR TRANSACTION BETWEEN YOU AND ANY ADVERTISER OR SPONSOR WHOSE ADVERTISING APPEARS ON THE SERVICES;</li>
    	    	    <li>ANY CHANGES WHICH EASYTAXIN MAY MAKE TO THE SERVICES, OR FOR ANY PERMANENT OR TEMPORARY CESSATION IN THE PROVISION OF THE SERVICES (OR ANY FEATURES WITHIN THE SERVICES);</li>
    	    	    <li>THE DELETION OF, CORRUPTION OF, OR FAILURE TO STORE, ANY CONTENT AND OTHER COMMUNICATIONS DATA MAINTAINED OR TRANSMITTED BY OR THROUGH YOUR USE OF THE SERVICES;</li>
    	    	    <li>YOUR FAILURE TO PROVIDE EASYTAXIN WITH ACCURATE ACCOUNT INFORMATION;</li>
    	    	    <li>YOUR FAILURE TO KEEP YOUR PASSWORD OR ACCOUNT DETAILS SECURE AND CONFIDENTIAL;</li>
	    	    	</ul>
	    	    </li>
  	    	</ul>
  	    </li>
  	    <li>THE LIMITATIONS ON EASYTAXIN’s LIABILITY TO YOU IN PARAGRAPHS ABOVE SHALL APPLY WHETHER OR NOT EASYTAXIN HAS BEEN ADVISED OF OR SHOULD HAVE BEEN AWARE OF THE POSSIBILITY OF ANY SUCH LOSSES ARISING.</li>
    	</ol>

    	<h3>Refunds and Cancellation</h3>
    	<ol>
  	    <li>Questions about refunds and cancellations should be addressed to &lt;&lt;need to add an email address like payments@easytaxin.com&gt;&gt;</li>
  	    <li>For self e-Filing plans, you can cancel your payment or request a refund of an e-Filing credit before the credit has been used for an e-Filing attempt. After an e-Filing attempt, no refund shall be made.</li>
  	    <li>For Assisted Plans, you can cancel your payment or request a refund before the expert assigned has commenced working on your case.</li>
    	</ol>

    	<h3>Guaranteed e-Filing in a day</h3>
    	<ol>
  	    <li>You should provide all the information including any additional information required for filing of tax return on or before 3 pm on a business day.</li>
  	    <li>Income tax return for the information received before 3 pm shall be prepared and filed on next business day.</li>
  	    <li>Any information received or any additional information furnished after 3 pm, return for the same shall be prepared and filed on the 2nd business day.</li>
  	    <li>Client shall without any delay provide all the required information and provide necessary clarifications where ever required.</li>
    	</ol>

    	<h3>Delay in services</h3>
    	<p>EasyTaxin (including its and their directors, employees, affiliates, agents, representatives or subcontractors) shall not be liable for any loss or liability resulting, directly or indirectly, from any delays or interruptions due to any natural, electronic or mechanical reasons.</p>
    </div>
  </div>
</div>
