<div class="page-wrapper">
	<div class="container-fluid">
		<div class="section-header">
		  <div class="row page-titles">
		    <div class="col-md-5 align-self-center">
		      <h4 class="">Personal Details</h4>
		    </div>
		  </div>
		</div>
    <div class="section-body">
    	<div class="row">
	    	<div class="col-lg-8 col-md-12">
	    		<div class="card shadow">
	    			<div class="card-body">
	    				<div class="d-flex m-b-40 align-items-center no-block">
	    					<h5 class="card-title ">Tax Summary</h5>
	    				</div>
	    				<div class="stats col4 d-flex justify-content-between flex-wrap">
								<div class="stats-col">
									<div class="key">Grand Total Income</div>
									<div class="value">
										<span class="inr">₹</span>
										<span>5.56 L</span>
									</div>
								</div>
								<div class="stats-col">
									<div class="key">Deductions</div>
									<div class="value">
										<span class="inr">₹</span>
										<span>50,000</span>
									</div>
								</div>
								<div class="stats-col">
									<div class="key">Net Tax Income</div>
									<div class="value">
										<span class="inr">₹</span>
										<span>24,000</span>
									</div>
								</div>
								<div class="stats-col">
									<div class="key">Tax Liability</div>
									<div class="value">
										<span class="inr">₹</span>
										<span>12,000</span>
									</div>
								</div>
								<div class="stats-col">
									<div class="key">Tax Credit</div>
									<div class="value">
										<span class="inr">₹</span>
										<span>4,957</span>
									</div>
								</div>
								<div class="stats-col">
									<div class="key">Taxes Paid</div>
									<div class="value">
										<span class="inr">₹</span>
										<span>19,231</span>
									</div>
								</div>
								<div class="stats-col">
									<div class="key">Interest</div>
									<div class="value">
										<span class="inr">₹</span>
										<span>1,200</span>
									</div>
								</div>
								<div class="stats-col">
									<div class="key">Balance</div>
									<div class="value">
										<span class="inr">₹</span>
										<span>12,206</span>
									</div>
								</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="col-lg-4 col-md-12">
	    		<div class="row">
	    			<div class="col-md-12">
	    				<div class="card shadow">
	    					<div class="card-body">
	    						<h5 class="card-title">SALES DIFFERENCE</h5>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    </div>
	</div>
</div>