<div class="main-container">
	<app-mainmenus></app-mainmenus>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="section-header">
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h4 class="">Payment Details</h4>
          </div>
        </div>
      </div>
      <div class="section-body">
      	<div class="payment">
					<p>Please confirm your details:</p>
					<alert></alert>
      		<div class="boxBorderHeader boxFooterCont position-relative">
      			<span class="text-uppercase boxHeader text-center">
      				<span class="d-inline-block">
      					<h6>Payment Summary</h6>
      				</span>
      			</span>
      			<div class="boxBody">
		      		<div class="form-group row">
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">Selected Plan</label>
		  	    		    </div>
		  	    		    <div class="col-8 value" *ngIf="appDetails != null">{{appDetails.PlanName}}</div>
		  	    		  </div>
		  			    </div>
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">Payers Name</label>
		  	    		    </div>
		  	    		    <div class="col-8 value" *ngIf="appDetails != null">
		  	    		      {{appDetails.Firstname}}&nbsp;{{appDetails.Lastname}}
		  	    		    </div>
		  	    		  </div>
		  			    </div>
		    		  </div>
		      		<div class="form-group row">
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">Contact</label>
		  	    		    </div>
		  	    		    <div class="col-8 value" *ngIf="appDetails != null">{{appDetails.MobileNo}}</div>
		  	    		  </div>
		  			    </div>
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">PAN No.</label>
		  	    		    </div>
		  	    		    <div class="col-8 value" *ngIf="appDetails != null">{{appDetails.PanNumber}}</div>
		  	    		  </div>
		  			    </div>
		    		  </div>
		      		<div class="form-group row">
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">Email Id</label>
		  	    		    </div>
		  	    		    <div class="col-8 value" *ngIf="appDetails != null">{{appDetails.EmailId}}</div>
		  	    		  </div>
		  			    </div>
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">Plan Amount</label>
		  	    		    </div>
		  	    		    <div class="col-8 value" *ngIf="appDetails != null">{{appDetails.PlanAmount}}</div>
		  	    		  </div>
		  			    </div>
		    		  </div>
    		  	</div>
      			<div class="boxFooter bg-light">
		    		  <div class="total row">
		    		  	<div class="col text-left">
			    		  	<label>Amount</label>
		    		  	</div>
		    		  	<div class="col text-right" *ngIf="appDetails != null">
			    		  	<span class="amt">₹&nbsp;{{appDetails.PlanAmount}}</span>
		    		  	</div>
		    		  </div>
    		  	</div>
	      		<div class="form-group actionRow">
		      		<div class="row">
		  			    <div class="col text-left">
		  			      <a href="javascript:void(0);" (click)="on_previous_click()" title="" class="btn btn-lg btn-outline-primary">Previous</a>
		  			    </div>
		  			    <div class="col text-right">
										<button type="button" id="rzp-button1" [disabled]="enablePay" class="btn btn-lg btn-primary" (click)="paynow()">Paynow</button>
										<img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
		  			      	<!-- <a href="javascript:void(0);" [disabled]="previousButtonDisable" id="rzp-button1" (click)="paynow()" class="btn btn-lg btn-primary">Paynow</a> -->
		  			    </div>
		    		  </div>
	    		  </div>
    		  </div>



      		<div class="boxBorderHeader boxFooterCont position-relative" *ngIf="transactionFlag">
      			<span class="text-uppercase boxHeader text-center">
      				<span class="d-inline-block">
      					<h6>Transaction Details</h6>
      				</span>
      			</span>
      			<div class="boxBody">
		      		<div class="form-group row">
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">Transaction ID:</label>
		  	    		    </div>
		  	    		    <div class="col-8 value">{{paymentTranId}}</div>
		  	    		  </div>
		  			    </div>
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">Status</label>
		  	    		    </div>
		  	    		    <div class="col-8 value">{{paymentStatus}}</div>
		  	    		  </div>
		  			    </div>
		    		  </div>
		      		<!-- <div class="form-group row">
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">Date</label>
		  	    		    </div>
		  	    		    <div class="col-8 value">
		  	    		      21 Feb 2019
		  	    		    </div>
		  	    		  </div>
		  			    </div>
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">Message</label>
		  	    		    </div>
		  	    		    <div class="col-8 value">
		  	    		      
		  	    		    </div>
		  	    		  </div>
		  			    </div>
		    		  </div> -->
    		  	</div>
	      		<div class="form-group actionRow text-right">
	      			<a href="javascript:void(0);" (click)="FinalSubmission()" title="" class="btn btn-lg btn-primary">Click To File Your Return</a>
	    		  </div>
    		  </div>



      	</div>
      </div>
    <div class="container-fluid">
    </div>
  </div>
</div>