<div class="main-container">
	<app-mainmenus></app-mainmenus>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="section-header">
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h4 class="">Payment Details</h4>
          </div>
        </div>
      </div>
      <div class="section-body">
      	<div class="payment">
      		<p>Please confirm your details</p>
      		<div class="boxBorderHeader boxFooterCont position-relative">
      			<span class="text-uppercase boxHeader text-center">
      				<span class="d-inline-block">
      					<h6>Payment Summary</h6>
      				</span>
      			</span>
      			<div class="boxBody">
		      		<div class="form-group row">
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">Selected Plan</label>
		  	    		    </div>
		  	    		    <div class="col-6 value">
		  	    		      Deluxe Package
		  	    		    </div>
		  	    		  </div>
		  			    </div>
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">Payers Name</label>
		  	    		    </div>
		  	    		    <div class="col-6 value">
		  	    		      Vivek Shukla
		  	    		    </div>
		  	    		  </div>
		  			    </div>
		    		  </div>
		      		<div class="form-group row">
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">Contact</label>
		  	    		    </div>
		  	    		    <div class="col-6 value">
		  	    		      +91 9876543210
		  	    		    </div>
		  	    		  </div>
		  			    </div>
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">PAN No.</label>
		  	    		    </div>
		  	    		    <div class="col-6 value">
		  	    		      ASSPV9812C
		  	    		    </div>
		  	    		  </div>
		  			    </div>
		    		  </div>
		      		<div class="form-group row">
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">Selected Plan</label>
		  	    		    </div>
		  	    		    <div class="col-6 value">
		  	    		      Deluxe Package
		  	    		    </div>
		  	    		  </div>
		  			    </div>
		  			    <div class="col">
		  			      <div class="row">
		  	    		    <div class="col-4 key">
		  	    		    	<label for="" class="col-form-label">Payers Name</label>
		  	    		    </div>
		  	    		    <div class="col-6 value">
		  	    		      Vivek Shukla
		  	    		    </div>
		  	    		  </div>
		  			    </div>
		    		  </div>
    		  	</div>
      			<div class="boxFooter bg-light">
		    		  <div class="total row">
		    		  	<div class="col text-left">
			    		  	<label>Amount</label>
		    		  	</div>
		    		  	<div class="col text-right">
			    		  	<span class="amt">₹ 1,50,000</span>
		    		  	</div>
		    		  </div>
    		  	</div>
    		  </div>
      	</div>
      </div>
    <div class="container-fluid">
    </div>
  </div>
</div>