<div class="main-container">
	<app-mainmenus></app-mainmenus>
	<div class="page-wrapper">
	  <div class="container-fluid">
	    <div class="section-header">
	      <div class="row page-titles">
	        <div class="col-md-12 align-self-center">
      			<h6>Please review and proceed to make payment and submit the information to your Tax Expert.</h6>
	        </div>
	      </div>
	    </div>
      <div class="section-body review">
      	<div class="row">
	      	<div class="col-lg-3 col-md-4 col-sm-6 text-center">
	      		<div class="reviewChartWrap">
			      	<div id="donut" class="reviewChart" data-donut="42"></div>
			      	<h3 class="chart-name">Tax Period</h3>
	      		</div>
	      	</div>
	      	<div class="col-lg-3 col-md-4 col-sm-6 text-center">
	      		<div class="reviewChartWrap">
		      		<div id="donut1" class="reviewChart" data-donut="12"></div>
		      		<h3 class="chart-name">Basic Information</h3>
	      		</div>
	      	</div>
	      	<div class="col-lg-3 col-md-4 col-sm-6 text-center">
	      		<div class="reviewChartWrap">
		      		<div id="donut2" class="reviewChart" data-donut="87"></div>
		      		<h3 class="chart-name">Personal Information</h3>
	      		</div>
	      	</div>
	      	<div class="col-lg-3 col-md-4 col-sm-6 text-center">
	      		<div class="reviewChartWrap">
		      		<div id="donut3" class="reviewChart" data-donut="42"></div>
		      		<h3 class="chart-name">Income Sources</h3>
	      		</div>
	      	</div>
      	</div>
      	<div class="row">
	      	<div class="col-lg-3 col-md-4 col-sm-6 text-center">
	      		<div class="reviewChartWrap">
		      		<div id="donut4" class="reviewChart" data-donut="45"></div>
		      		<h3 class="chart-name">Deductions</h3>
	      		</div>
	      	</div>
	      	<div class="col-lg-3 col-md-4 col-sm-6 text-center">
	      		<div class="reviewChartWrap">
			      	<div id="donut5" class="reviewChart" data-donut="42"></div>
			      	<h3 class="chart-name">Taxes Paid</h3>
	      		</div>
	      	</div>
      	</div>
      	<div class="reviewInfo">
      		<h2>Service Details</h2>
      		<p>Our fee for preparation of your tax return would be ₹ 9999.00 (plus taxes)</p>
      		<p>Service includes:</p>
      		<ul>
    		    <li>Tax preparation and e-file</li>
    		    <li>Year around support</li>
    		    <li>Tax document library</li>
      		</ul>
	      	<div class="form-actions d-flex stickyFooterForm affix">
	    	    <div class="left mr-auto">
	      	    <button type="button" class="btn btn-primary btn-lg">Proceed To Pay</button>
	      	    <button type="button" class="btn btn-link btn-lg"><i class="fas fa-arrow-left"></i> Go Back</button>
	    	    </div>
	      	</div>
      	</div>
			</div>
		</div>
	</div>
</div>
